.Join-logo {
    float: left;
}

.Join-headline {
    float: center;
    font-size: medium;
}

.Join-table {}

.Join-table-input {
    background-color: white;
    border: 1px solid black;

}

.Join-table-button {
    background-color: green;
    color: white;

}

#black_button {
    background-color: black;
}