.Login-logo {
    float: left;
}

.Login-headline {
    font-size: medium;
}

.Login-left {
    float: left;
    width: 50%;
}

.Login-right {
    float: right;
    width: 50%;
}

.Login-button {
    background-color: green;
    color: white;
}