.Search-logo {
    float: left;
}

.Search-searching {
    display: inline;
    float: center;
}

.Search-topBtn {
    float: right;
    font-size: small;
}

.Search-nav {
    color: white;
    background-color: green;
}

.Search-topBar {
    color: white;

}

.Search-left {
    width: 50%;
}

.Search-right {
    width: 50%;
}

.Search-button {
    background-color: green;
}

.Search-restaurant {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.Search-restaurant-tag {
    float: left;
    display: inline;
}

.Search-restaurant-img {
    width: 25%;
}