<html>
    <head>
        <link rel="stylesheet" href="../static/css/CreateMenu.css">
    </head>
    <body>
      <section>
        <aside class="aside">
          <div class="asideleft">
            <a href="/CreateStore_update/{{storename}}" class="up">기본정보</a>
            <a href="/CreateMenu/{{storename}}" class="down">메뉴</a>
          </div>
        </aside>

        <form action="/CreateMenu_update" method="post" enctype="multipart/form-data">
          <div id="table">
            <div class="row"><label for="storename">매장명:{{storename}}</label></div>
            {% for menu in menudata %}
            <div class="row">
              <span class="cell col1">{{menu[1].menuname}}</span>
              <span class="cell col2"></span>
            </div>
            {% endfor %}
            <!--
            <div class="row">
              <span class="cell col1"></span>
              <span class="cell col2">
                <table>
                  <tr>
                    <th>메뉴명</th>
                    <td><input type="text" name="menuname"/></td>
                  </tr>
                  <tr>
                    <th>가격</th>
                    <td><input type="text" name="price"/></td>
                  </tr>
                  <tr>
                    <th rowspan="2">영양성분</th>
                    <td><input type="text" name="nutrient" placeholder="+" size="70" /></td>
                  </tr>
                  <tr>
                    <td>-계란</td>
                  </tr>
                  <tr>
                    <th>대표사진</th>
                    <td><input type="file" name="imgfile" accept="image/*" /></td>
                  </tr>
                  <tr>
                    <td><input type='submit' value="메뉴 정보 등록" /></td>
                  </tr>
                </table>
              </span>
            </div>-->
            <div class="row">
              <span class="cell col1"></span>
              <span class="cell col2">+ 메뉴 새로 추가하기</span>
            </div>
          </div>
        </form>
      </section>
    </div>
    </body>
</html>