<html>
    <head>
        <link rel="stylesheet" href="../static/css/CreateReview.css">
    </head>
    <body>
        <div>
            <aside class="aside">
                <div class="asideleft">
                    <a href="/CreateStore" class="up">기본정보</a>
                    <a href="/CreateMenu" class="down">메뉴</a>
                </div>
            </aside>
            <form action="/submit_review" method="post" enctype="multipart/form-data">
                <section>
                    <div id="table">
                        <div class="row"><input type="hidden" name="storename" value="{{storename}}">매장명: {{storename}}</label></div>
                        <div class="row">
                            <span class="cell col1">전체 평점</span>
                            <span class="cell col1">

                                <input type="number" name="storescore" size="70" value="{{submitted.storescore}}"/>
                                <!--<img src = "../img/starone.jpg" width="30" height ="30"/><img src = "../img/starone.jpg" width="30" height ="30"/><img src = "../img/starone.jpg" width="30" height ="30"/><img src = "../img/starone.jpg" width="30" height ="30"/><img src = "../img/startwo.jpg" width="30" height ="30"/>-->
                            </span>
                        </div>
                        <div class="row">
                            <span class="cell col1">작성자</span>
                            <span class="cell col1"><input type="text" name="username" value="{{submitted.username}}"/>
                        </div>
                        <div class="row">
                            <span class="cell col1">리뷰 제목</span>
                            <span class="cell col1"><input type="text" name="reviewtitle" size="70" value="{{submitted.reviewtitle}}"/>
                        </div>
                        <div class="row">
                            <span class="cell col1">리뷰 내용</span>
                            <span class="cell col1"><textarea name="reviewdesc" rows="10" cols="70" value="{{submitted.reviewdesc}}"></textarea></span>
                        </div>
                        <div class="row">
                            <span class="cell col1">사진</span>
                            <span class="cell col1"><input type="file" name="imgfile" accept="image/*" />
                        </div>
                        <div class="row">
                            <span class="cell col1"></span>
                            <span class="cell col1"><input type="submit" value="리뷰 등록" />
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </body>
</html>