:root {
    --egreen : #00462A;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #e9e9e9;
}

section {
    display: flex;
    justify-content: center;
}

.presentreview {
    margin-top: 60px;
}

.title1{
    display: flex;
    margin-bottom: 15px;
    font-size: 20px;
}

.pr_description{
position: relative;
width: 700px;
height: 260px;
background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 0px;
}

.user_name{
    position: absolute;
    top: 38px;
    left: 50px;
}

.store_name {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 20px;

}

.store_location {
    position: absolute;
    top: 110px;
    left: 50px;
    color: rgb(148, 148, 148);
    font-size: 10px;
}

.review_title {
    position: absolute;
    top: 150px;
    left: 50px;
}

.review_desc {
    position: absolute;
    top: 180px;
    left: 50px;
    width: 200px;
}

.review_img {
    position: absolute;
    bottom: 11px;
    right: 12px;
}

.title2{
    display: flex;
    margin-bottom: 15px;
    font-size: 20px;
}

.hotreview{
    margin-top: 60px;
    margin-left: 40px;
    width: 200px;
}

.hot_description{
    margin: 0px;
    width: 250px;
    height: 500px;
    
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 0px;
}
