.all {
    display: flex;
    margin-top: 20px;
    height: 685px;
}


.StoreList {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.TopBar {
    display: flex;
    background-color: white;
    width: 100%;
    border-top: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    border-left: 1px solid #C6C6C6;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between
}

.Result {
    margin-left: 15px;
}

.dropdown {
    margin-right: 15px;
}

.Dropdown1 {
    margin-right: 15px;
}

.Dropdown2 {}


.Restaurant {
    /* display: flex; */
    border: 1px solid rgb(191, 191, 191);
    width: 630px;
    /* height: 120px; */
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 3px;
    overflow: auto;
}

.rightbox {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    height: 100%;
}

.storemap {
    width: 630px;
    height: 50%;
    background-color: rgb(107, 107, 107);
}

.storelistdetail {
    width: 630px;
    background-color: rgb(255, 255, 255);
    height: 50%;
}

/*StoreList component*/

.listbox {
    display: flex;
    height: 130px;
    border: 1px solid rgb(225, 225, 225);
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.listbox:hover {
    box-shadow: inset 0px 0px 0px 3px #98a99c;
}

.ImagePart {
    display: flex;
    width: 300px;
    height: 130px;
    align-items: center;
    margin-left: 2px;
}

.listdesc {
    position: relative;
    margin-right: 25px;
}

.StoreName {
    position: relative;
    top: 30px;
    font-size: 18px;
    font-weight: 600;

}

.storelocation {
    position: relative;
    top: 35px;

}

.locationimg {
    position: relative;
    left: -20px;
}

.locationtext {
    position: relative;
    top: -23px;
    left: 15px;
    font-size: 10px;
    color: rgb(120, 120, 120);
}

.Tag {
    position: relative;
    bottom: -13px;
    font-size: 13px;
    font-weight: 800;
}

.heart {
    position: relative;
    top: 15px;
}

.heartimg {}

.heartnum {
    position: relative;
    font-size: 13px;
    font-weight: 800;
    top: -24px;
    left: 24px;
}

.reviewnum {
    position: relative;
    font-size: 13px;
    font-weight: 800;
    right: 50px;
    top: -27px;
}
