.dropdown {
    position:relative;
    display:inlineblock;
}

/* 맨위 */
.dropbtn:hover {
    display: block;
    background-color: #ddd;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.06);
}

.drpbtn{
    padding-left : 10px;
    padding-right: 10px;
    background : #fff;
    font-weight: bold;
    color : #333;
    display: flex; 
    align-items: center;
    justify-content:space-between;
}

/* 아래 전체 감싸는 */
.drpcontent {
    position : absolute;
    box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.06);
    color : #333;
    background: #fff;
    z-index: 2;
    padding:0;
}

/* 종류별 버튼 */
.drpitem {
    padding-right : 1rem;
    padding-left: 1rem;
    cursor: pointer;
    transition : all 0.2s;
    background: #fff;
    border:0;
    font-weight: bold;
    margin:0;
}

.drpitem:hover {
    background: #f4f4f4;
}