:root{
    --ewhagreen: rgb(0, 70, 42);
}

*{
    font-family: 'a드림고딕2';
}

a{ 
    text-decoration: none; /*링크 밑줄 제거*/
    color: inherit; /*링크 색상 제거*/
}

header{
    padding: 20px;
    margin-bottom: 30px;
}

.signInUp a{
    float: right;
    margin-left: 30px;
}

nav {
    justify-content: center;
    color: white;
    background-color: var(--ewhagreen);
    padding: 10px;
}

nav .pageName{
    font: 25px bolder;
    margin-left: 30px;
}

nav a {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid white;
    font-size: 15px;
    float: right;
    margin-top:10px;
}

#homelogo {
    width: 50px;
    height: 50px;
}