@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

html {
    scroll-behavior: smooth;
}

.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}

.Monserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.NotoSansKR {
    font-family: 'Noto Sans KR', sans-serif !important;
}

:root {
    --egreen: #00462A;
}

body {

    font-family: 'Noto Sans KR';
    font-size: 17px;
    line-height: 1.5;
    min-width: 1400px;
    margin-bottom: 200px;
}

.img {
    object-fit: cover;
}

.section {
    text-align: center;
    min-width: 1400px;
}

.green {
    display: inline-block;
    min-width: 1400px;
}

.hottitle {
    display: inline-block;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 30px;
}

.thin {
    font-weight: 100;
}

.thick {
    font-weight: 900;
}

.hottopic {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    display: block;
    top: 10px;
}

.homep {
    font-weight: 600;
    font-size: 80%;
    margin: 1px;
    position: relative;
    top: 14px;
}

[class^="link-"] {
    display: inline-block;
    margin: 2em
}

/* linkone */
.link-1 a:before,
.link-1 a:after {
    content: '';
    border-bottom: solid 2px rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    width: 0;
}

.link-1 a:before {
    left: 0;
}

.link-1 a:after {
    right: 0;
}

.link-1 a:hover:before,
.link-1 a:hover:after {
    width: 52%;
}

.link-1 a:before,
.link-1 a:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


.hotlist {
    margin: 20px;
    box-sizing: border-box;
    flex-basis: 268px;
    height: 390px;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    border-radius: 3px;
}

.hotlist:hover {

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.upcontainer {
    display: flex;
    justify-content: space-between;
}

.descname {
    display: flex;
    margin-left: 8px;
    margin-top: 9px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #000000;
}

.descloca {
    display: flex;
    margin-left: 6px;
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    color: #949494;
}

.menuname {
    display: flex;
    margin-left: 10px;
    margin-top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #000000;

}

.review {
    display: flex;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #858585;
}