.Header {
    float: center;
}

.Headline {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 65px;
    color: black;
}

.Left {
    position: absolute;
    width: 540px;
    height: 443.72px;
    left: 86px;
    top: 369px;
    color: black;
}

.Right {
    position: absolute;
    width: 717px;
    height: 421.72px;
    left: 723px;
    top: 391px;
    color: black;
}

.Right-p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
}

.button {
    background: #00462A;
    border-radius: 10px;
    text-align: center;
    color: white;
}