.listbox {
    display: flex;
    height: 180px;
    border: 1px solid rgb(225, 225, 225);
    justify-content: left;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.listdesc {
    text-align: left;
    margin-left: 30px;
    font-weight: 600;
    color: dimgray;
}

.ImagePart {
    width: 240px;
    margin-left: 20px;
}

.img {
    width: 240px;
    height: 150px;
    object-fit: cover;
}

#MenuName {
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 7px;
}

.heart {
    position: relative;
    font-size: 15px;
    font-weight: 800;
    color: black;
    margin-bottom: 5px;
}

.heartimg {
    position: relative;
}