.profile {
  padding: 20%;
}

/* Create two unequal columns that floats next to each other */

.column {
  float: left;
  padding: 5%;
  height: 623px;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* button style*/

button.black {
  background-color: #222228;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 20px;

}

button.green {
  background-color: #00462A;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

button:hover {
  opacity: 0.8;
}

/*Avatar*/
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#cl {
  background-color: #00462A;
}

#cr {
  background-color: #F6F6F6;
}