        
/* * {
    box-sizing: border-box;
  } */
  
  body {
            margin : 0;
          }
  
  .mainbar {
    background-color:#00462A;
    color: white;
    padding : 15px;
    font-size: x-large;
    top:269px;
    width:100%;
  
  }
  
  .menu {
    width : 700px;
    margin : 0;
    font-size:medium;
  }
  
  .store {
    padding:0;
  }
  
  .storename{
    width:fit-content;
    float:left;
    font-size:x-large;
  }
  
  .background {
    background-color:#F0F0F3;
    padding-top: 2%;
    flex : center;
    text-align: center;
    height : 623px;
  }
  
  
  ul {
    list-style-type: none;
    padding: 10px;
    margin: auto;
    width : 960px;
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    float:right;
  }