@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

.NotoSansKR {
    font-family: 'Noto Sans KR', sans-serif !important;
}

.prebox {
    width:100%
}

.pane {
    display: inline-block;
    width: 50%;
    border: var(--grayborder);
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

/* .pretitle {
    line-height: 40px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
} */

#paneName {
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    padding: 25px;
    padding-left: 70px;
    border-bottom: var(--grayborder);
    vertical-align: middle;
}

.list{
    height: 540px;
    overflow: auto;
}

.img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/*info */

.info {
    display: flex;
    font-size: 16px;
    line-height: 200%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 10px;
}

#table {
    display: table;
    vertical-align: middle;
  }

  .cell {
    display: table-cell;
    /* padding: 3px; */
    width: 80px;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
  }
  
  .row {
    position: relative;
  }
  
  .col1 {
    position: relative;
    vertical-align: middle;
  }
  
  .col2 {
    position: relative;
    vertical-align: middle;
  }

/* .desc{
    display: inline;
    margin-left: 10px;
} */

.StoreName {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.storelocation {
    display: flex;
    align-items: center;
    margin-left: -3px;
    margin-bottom: 10px;
}

.locationimg {
    height: 20px;
    width: 20px;
}

.locationtext {
    font-size: 13px;
    color: rgb(120, 120, 120);
    margin-bottom: 2px;
}

.Tag {
    font-size: 13px;
    font-weight: 800;
}

.heart {
    position: relative;
    top: 15px;
}

.heartimg {}

.heartnum {
    position: relative;
    font-size: 13px;
    font-weight: 800;
    top: -24px;
    left: 24px;
}

.buttons{
    margin-top: 20px;
}

.button{
    margin: 20px;
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    flex-basis: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;

    /*디자인*/
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px solid #202020;
    cursor: pointer;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Noto Sans KR';
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.button:hover{
        /* background-color:#0a0a0a; */
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
        background-color: var(--egreen);
        /* color: rgb(255, 255, 255); */
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        color: rgb(255, 255, 255);
}