.listbox {
    display: flex;
    height: 130px;
    border: 1px solid rgb(225, 225, 225);
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.listbox:hover {
    box-shadow: inset 0px 0px 0px 3px #98a99c;
}

.ImagePart {
    display: flex;
    width: 300px;
    height: 130px;
    align-items: center;
    margin-left: 2px;
}

.listdesc {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 25px;
}

.StoreName {
    /* position: relative;
    top: 30px; */
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

}

.storelocation {
    display: flex;
    line-height: 20px;
    /* position: relative;
    top: 35px; */

}

.locationimg {

    /* display:flex; */
    /* position: relative; */
    /* left: -20px; */
}

.locationtext {
    /* display:flex; */
    /* position: relative;
    top: -23px;
    left: 15px; */
    margin: 0px;
    font-size: 10px;
    color: rgb(120, 120, 120);
}

.Tag {
    /* position: relative;
    bottom: -13px; */
    font-size: 13px;
    font-weight: 800;
}

.heart {
    position: relative;
    top: 15px;
}

.heartimg {}

.heartnum {
    position: relative;
    font-size: 13px;
    font-weight: 800;
    top: -24px;
    left: 24px;
}

.reviewnum {
    position: relative;
    font-size: 13px;
    font-weight: 800;
    right: 50px;
    top: -27px;
}

.sendDatas {
    display: none;
}