.StoreListView-Searching {
    display: inline;
    float: center;
}

.StoreListView-TopBtn {
    float: right;
    font-size: small;
}

.StoreListView-nav {
    color: white;
    background-color: #00462A;

}

.StoreListView-TopBar {
    color: white;

}

.StoreListView-StoreList {
    width: 50%;
    float: left;
}

.StoreListView-StoreMap {
    width: 50%;
    float: right;
}

.StoreListView-button {
    background-color: #00462A;
}

.StoreListView-Restaurant {
    background-color: white;
    width: 632.69px;
    height: 123.06px;
    border: 1px solid black;
    color: black;
}

.StoreListView-Restaurant-Tag {
    float: right;
    display: inline;
    width: 63px;
    height: 12px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}

.StoreListView-Restaurant-img {
    width: 345.45px;
    height: 123.06px;
    left: 83px;
}

.StoreListView-Restaurant-StoreName {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}